name: ai_video_pro
description: "AI Professional Video Editor"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  video_player: ^2.8.1
  file_picker: ^8.0.0
  ffmpeg_kit_flutter_video: ^6.0.3
  path_provider: ^2.1.2
  gal: ^2.3.1
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true